<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>ADMIN > MEMBERS</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/my/fragments/aside.css" />
    <link rel="stylesheet" href="/css/admin/member.css" />
    <!-- axios -->
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- javascript -->
    <script defer src="/js/admin/member.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div th:replace="~{admin/fragments/aside_admin::aside}"></div>
        <div class="admin-members-wrap">
            <p>회원관리</p>
            <div class="admin-members-box">
                <div class="admin-members-list">
                    <table>
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>email</th>
                            <th>username</th>
                            <th>role</th>
                            <th>registration_at</th>
                            <th>-</th>
                        </tr>
                        </thead>
                        <tbody id="admin-members"></tbody>
                    </table>
                </div>
                <div class="admin-members-pageable">
                    <div class="pageable" id="pageable"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>