<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ADMINISTRATE</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/my/fragments/aside.css" />
    <link rel="stylesheet" href="/css/admin/notice.css" />
    <!-- javascript -->
    <script defer src="/js/admin/notice.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div th:replace="~{admin/fragments/aside_admin::aside}"></div>
        <div class="admin-notices-wrap">
            <p>공지알림</p>
            <div class="admin-notices-top-box">
                <div class="notice-send">
                    <div class="notice-content">
                        <input type="text" id="content" placeholder="content" />
                    </div>
                    <div class="notice-send-content">
                        <button type="button" id="btn-send-notice">보내기</button>
                    </div>
                </div>
            </div>
            <p>공지목록</p>
            <div class="admin-notices-bottom-box">
                <div class="admin-notices-list">
                    <table>
                        <thead>
                        <tr>
                            <th>no</th>
                            <th>content</th>
                            <th>writer</th>
                            <th>registration_at</th>
                        </tr>
                        </thead>
                        <tbody id="admin-notices"></tbody>
                    </table>
                </div>
            </div>
            <div class="admin-notices-pageable">
                <div class="pageable" id="pageable"></div>
            </div>
        </div>
    </div>
</body>
</html>