<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>MYPAGE > CHAT</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/my/fragments/aside.css" />
    <link rel="stylesheet" href="/css/my/chat.css" />
    <!-- stomp -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <!-- javascript -->
    <script defer src="/js/my/chat.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <!-- aside -->
        <div th:replace="~{my/fragments/aside::aside}"></div>
        <div class="chat-wrap">
            <p>1:1 채팅</p>
            <div class="chat-box">
                <div class="chat-list" id="chat-list"></div>
                <div class="conversation">
                    <div class="conversation-view" id="conversation-view">대화상대를 선택하세요</div>
                    <div class="conversation-send">
                        <div class="conversation-message">
                            <input type="text" id="message" placeholder="message" />
                        </div>
                        <div class="conversation-send-message">
                            <button type="button" id="send-message">보내기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>