<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>MYPAGE > NOTICE</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/my/fragments/aside.css" />
    <link rel="stylesheet" href="/css/my/notice.css" />
    <!-- axios -->
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- javascript -->
    <script defer src="/js/my/notice.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div th:replace="~{my/fragments/aside::aside}"></div>
        <div class="my-notice-wrap">
            <p>공지목록</p>
            <div class="my-notice-box">
                <div class="my-notice-list">
                    <table>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>공지내용</th>
                            <th>작성자</th>
                            <th>등록일</th>
                        </tr>
                        </thead>
                        <tbody id="my-notices"></tbody>
                    </table>
                </div>
                <div class="my-notices-pageable">
                    <div class="pageable" id="pageable"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>