<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>MYPAGE > NOTIFICATION</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/my/fragments/aside.css" />
    <link rel="stylesheet" href="/css/my/notification.css" />
    <!-- axios -->
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- javascript -->
    <script defer src="/js/my/notification.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div th:replace="~{my/fragments/aside::aside}"></div>
        <div class="notification-wrap">
            <p>알림 내역</p>
            <div class="notification-box">
                <div class="notification-tool">
                    <div class="notification-no-read">
                        읽지 않은 알림 <span class="no-read-count" id="no-read-count"></span> 개
                    </div>
                    <div>
                        <button type="button" id="all-read"><i class="fa-solid fa-check"></i>모두 읽음</button>
                    </div>
                </div>
                <div class="notification-list" id="notification-list"></div>

                <div class="my-notification-pageable">
                    <div class="pageable" id="pageable"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>