<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>MYPAGE > REVIEWS</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/my/fragments/aside.css" />
    <link rel="stylesheet" href="/css/my/review.css" />
    <!-- axios -->
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- javascript -->
    <script defer src="/js/my/review.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div th:replace="~{my/fragments/aside::aside}"></div>
        <div class="my-reviews-wrap">
            <p>내가 쓴 리뷰</p>
            <div class="my-reviews-box">
                <div class="my-reviews-list">
                    <table>
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="all-check" onclick="checkAll(this)" /></th>
                            <th>리뷰 제목</th>
                            <th>상호명</th>
                            <th>좋아요 수 </th>
                            <th>조회 수</th>
                            <th>등록일</th>
                            <th>-</th>
                        </tr>
                        </thead>
                        <tbody id="my-reviews"></tbody>
                    </table>
                </div>
                <div class="remove-reviews">
                    <button type="button" id="remove-reviews">선택삭제</button>
                </div>
                <!--/*
                <div class="my-reviews-search">
                    <select name="my-reviews-search-option">
                        <option>선택</option>
                        <option>작성자</option>
                        <option>제목</option>
                    </select>
                    <input type="text" id="search-keyword" placeholder="search" />
                    <button type="button">검색</button>
                </div>
                */-->
                <div class="my-reviews-pageable">
                    <div class="pageable" id="pageable"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>