<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer">
        <div id="footer">
            <h3>Today's Review</h3>
            <p>
                Donec vitae odio quis nisl dapibus malesuada<br />
                imperdiet dolor tempor tristique. Pellentesque habitant
            </p>
            <ul class="navbar">
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
        </div>
    </footer>
</body>