<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <header>
        <div id="header">
            <h1 id="logo"><a href="/">Today's Review</a></h1>
            <div class="search-box">
                <input type="text" id="search" />
                <button type="button" id="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <nav>
                <ul>
                    <li id="login"><a href="/login"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    <li id="notification"><a href="/my/notification"><i class="fa-regular fa-bell" id="bell"></i></a></li>
                    <!--<li id="bell"><a href="/my/notification"><i class="fa-regular fa-bell fa-shake"></i></a></li>-->
                    <li id="profile"><a href="/my/profile"><i class="fa-solid fa-user"></i></a></li>
                    <li id="admin"><a href="/admin/member"><i class="fa-solid fa-gear"></i></i></a></li>
                    <li><a href="javascript:void(0);" id="logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
        <div id="toast" class="toast"></div>
    </header>
</body>
</html>