<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>REVIEW > ADD</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/review/add.css" />
    <!-- address -->
    <script defer src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script defer src="/js/review/address_api.js"></script>
    <!-- ckeditor5 -->
    <script defer src="/ckeditor5/build/ckeditor.js"></script>
    <script defer src="/js/review/ckeditor.js" type="module"></script>
    <!-- axios -->
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- javascript -->
    <script defer src="/js/review/add.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
        <div class="review-add-wrap">
            <h3>리뷰 등록</h3>
            <div class="review-add-box">
                <div class="review-add-box-item">
                    <input type="text" name="storeName" id="storeName" placeholder="장소이름" />
                    <small class="error">장소이름은 필수입니다</small>
                </div>
                <div class="review-add-box-item">
                    <input type="text" name="storeAddress" id="storeAddress" placeHolder="장소위치 (클릭)" readonly />
                    <small class="error">장소위치는 필수입니다</small>
                </div>
                <div class="review-add-box-item">
                    <input type="text" name="title" id="title" placeholder="제목" />
                    <small class="error">제목은 필수입니다</small>
                </div>
                <textarea name="content" id="content"></textarea>
                <small class="error" id="editor-error">글 내용은 필수이며, 이미지가 1개 이상 삽입되어야 합니다</small>
                <div class="store-mark-reviewer">
                    <div class="store-mark-reviewer-star">
                        <input type="hidden" id="star" />
                        <p class="reviewer-star">리뷰어 평점</p>
                        <ul id="store-star">
                            <li data-star="1"><i class="fa-solid fa-star"></i></li>
                            <li data-star="2"><i class="fa-solid fa-star"></i></li>
                            <li data-star="3"><i class="fa-solid fa-star"></i></li>
                            <li data-star="4"><i class="fa-solid fa-star"></i></li>
                            <li data-star="5"><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <small class="error">평점은 필수입니다</small>
                </div>
                <div class="review-add-btn">
                    <button type="submit" id="add-review">등록</button>
                    <button type="button" id="cancel-review">취소</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>