<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <title>REVIEW</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/review/view.css" />
    <!-- kakao map -->
<!--    <script type="text/javascript"-->
<!--            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c58198e...&libraries=services"></script>-->
<!--    <script defer src="/js/review/kakao_map.js"></script>-->
    <!-- axios -->
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- javascript -->
    <script defer src="/js/review/view.js" type="module"></script>
    <script defer src="/js/review/good.js" type="module"></script>
    <script defer src="/js/review/subscribe.js" type="module"></script>
</head>
<body>
    <div layout:fragment="content" class="container">
<!--        <input type="hidden" id="email" th:value="${session.email}" />-->
<!--        <input type="hidden" id="writer" th:value="${writer.email}" />-->
<!--        <input type="hidden" id="member-nickname" th:if="${session.email != null}" th:value="${member.nickName}" />-->
        <div class="review-top">
            <div class="review-map" id="map"></div>
            <div id="review-store">
                <div class="review-store-box">
                    <div class="store-name" id="store-name"></div>
                    <div class="store-address" id="store-address"></div>
                    <div class="store-mark">
                        <p>리뷰어 평점</p>
                        <ul id="reviewer-star">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                    </div>
                    <div class="store-heart" id="store-heart">
                        <!-- 좋아요 버튼 (빈 하트 표시) -->
                        <a href="javascript:;" id="good"><i class="fa-regular fa-heart"></i></a>
                        <!-- 좋아요 취소 버튼 (꽉 채운 하트) -->
                        <a href="javascript:;" id="good-cancel"><i class="fa-solid fa-heart"></i></a>
                    </div>
<!--                    <th:block th:if="${session.email == null} or ${session.email != writer.email}">-->
<!--                        <div class="store-heart" id="store-heart" th:data-is-good="${isGood}">-->
<!--                            <a href="javascript:;" id="good" th:data-review-id="${review.reviewId}">-->
<!--                                <i class="fa-solid fa-heart"></i>-->
<!--                            </a>-->
<!--                            <a href="javascript:;" id="not-good" th:data-review-id="${review.reviewId}">-->
<!--                                <i class="fa-regular fa-heart"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </th:block>-->
                </div>
            </div>
            <div id="review-writer">
                <div class="review-writer-box">
                    <div class="writer-image">
                        <img src="#" id="writer-profile-image" art="writer-profile-image" />
                    </div>
                    <div class="writer-info">
                        <p class="writer-name" id="writer-name"></p>
                    </div>
                    <div class="writer-action" id="writer-action">
<!--                        <button id="btn-subscribe"-->
<!--                                th:classappend="${isSubscribed} ? subscribed : not-subscribed"-->
<!--                                th:text="${isSubscribed} ? 구독취소 : 구독하기">구독하기</button>-->
<!--                        <button class="not-subscribed" id="btn-subscribe">구독하기</button>-->
                        <button class="not-subscribed" id="btn-subscribe">구독하기</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-middle">
            <p class="review-title" id="review-title"></p>
            <div class="review-content" id="review-content"></div>
            <div class="review-btn">
                <div class="review-btn-left">
                    <button id="go-home">HOME</button>
                </div>
                <div class="review-btn-right">
                    <button id="update-review">편집</button>
                </div>
            </div>
        </div>
        <!--
        <div class="review-bottom">
            <div>댓글 (0)</div>
            <div>댓글쓰기</div>
            <div>댓글뷰</div>
            <div>댓글페이징</div>
        </div>
        -->
    </div>
</body>
</html>